@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script data-main="@routes.Assets.at("javascripts/app.js")" type='text/javascript' src='@routes.WebJarAssets.requirejs'></script>
    </head>
    <body>
            <!-- Wrap all page content here -->
        <div id="wrap">
        @content
        </div>

        <div id="footer">
            <div class="container">
                <p class="text-muted credit">Learn more about <a href="http://www.kiji.org">KijiExpress</a></p>
            </div>
        </div>

    </body>
</html>
